<!--
<p>{{ appointment.id }}</p>
<p>{{ appointment.title }}</p>
<p>{{ appointment.date }}</p>
-->

<div>
    <input [(ngModel)]="newAppointmentTitle" placeholder="Appointment Description">
    <input type="date" [(ngModel)]="newAppointmentDate">
    <button (click)="addAppointment()">Save</button>
</div>

<ul>
    <li *ngFor="let appointment of appointments; index as i">
        {{ appointment.id }}: {{ appointment.title }} - {{ appointment.date | date:'shortDate' }}
        <button (click)="deleteAppointment(i)">Delete</button>
    </li>
</ul>